/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700&subset=latin-ext');

@main-font-family: 'Lato';

/* Main colors */
@color-main: #777777;
@color-secondary: #006bb6;
@color-white: #fff;
@color-red: red;

@color-text-main: #777777;
@color-text-header: #ffffff;
@color-text-footer: #bbbbbb;

@color-bg-header: rgba(53,61,71,0.6);
@color-bg-footer: #3d4045;

/* Breadcrumbs colors */
:root {
    --color-bg: @color-white;
    --color-href: @color-secondary;
    --color-current: @color-text-main;
}

/* Scroll with muk_website_scroll_up */
@scroll-bg-color: @color-secondary; // circle background color (Arrow circle is always transparent)

/* Categories menu */
@border-cat: 1px solid rgba(100, 100, 100, 0.2);
@color-bg-cat: @color-white;