/* lateral menu as stacked to the right */
@media screen and (min-width: 992px) {
    div#products_grid_before {
        ul#o_shop_collapse_category_custom {
            li.nav-item {
                > ul {
                    min-width: 500px;
                }
            }
        }
    }
}

/* toggle button style */
@media screen and (max-width: 768px) {
    #products_grid_before_toggle {
        border: unset;
    }
}

@media screen and (max-width: 992px) {
    div#products_grid_before {
        ul#o_shop_collapse_category_custom {
            li.nav-item {
                > ul {
                    max-width: 500px;
                }
            }
        }
    }
}

/* Lateral menu edit */
div#products_grid_before {
    ul#o_shop_collapse_category_custom {
        li.nav-item {
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            align-items: center;
            height: 45px;
            width: 100%;
            > img.img.img-responsive {
                float: left;
                margin-left: 4px;
                margin-top: 4px;
            }
            > a {
                display: inline-block;
                width: 80%;
                padding-left: 3px;
                font-weight: bolder;
            }
            > ul {
                position: sticky;
                z-index: 30;
                background: #ffffff;
                border: 1px solid rgba(100, 100, 100, 0.2);
                padding: 10px 10px;
                > div {
                    > strong {
                        border-bottom: solid black 1px;
                    }
                    > span > a:hover {
                        font-size: 1.0rem;
                        font-weight: bolder;
                    }
                }
            }
        }
    }
}