#website_cookie_notice {
    padding: 10px 0px 10px;
    overflow: hidden;
    color: #ffffff;
    position: fixed;
    left: 0;
    bottom: -16px;
    background: #000000;
    border-color: #000000;
    z-index: 20;
    & .cookie-message {
        margin-top: 8px;
        width: 80%;
        & p {
            float: right;
        }
    }
    & .cookie-buttons {
        width: 20%;
        & button {
            float: right;
        }
    }
}

@media (max-width: 992px) {
    #website_cookie_notice {
        & .cookie-message {
            margin-top: 4px;
            margin-bottom: 0px;
            width: 100%;
            & p {
                float: none;
                margin-bottom: 0px;
                text-align: center;
            }
        }
        & .cookie-buttons {
            margin-bottom: 8px;
            width: 60%;
        }
    }
}