#wrapwrap .o_header_affix {
    background: None;
}

header {
    & .navbar-brand.logo img {
//         height: 5.5rem;
            margin: 0;
    }
//     & .wp_breadcrumbs_base, .wp_breadcrumbs_base_portal {
//         & .container {
//             margin-top: 0;
//             margin-bottom: 0;
//         }
//     }
    & .navbar-light {
        background: @color-bg-header !important;
        transition: opacity .2s ease-out;
        opacity: 1;
    }
    & .navbar-light .navbar-nav .nav-link {
        color: @color-text-header;
        font-size: 18px;
        font-weight: bold;
        text-decoration-color: @color-secondary;
        &:hover{
            color: @color-secondary;
        }
        &:focus, &.active {
            color: @color-secondary;
        }
    }
    & .navbar-light .navbar-nav .show > .nav-link {
        color: @color-secondary;
    }
}