.o_product_feature_panel {
    border: 2px solid @color-secondary;
    & .badge-primary {
        color: #FFFFFF;
        background-color: @color-secondary;
    }
    & .o_product_panel_header {
        color: @color-secondary;
    }
}