/* checkout timeline */
.progress-wizard .progress-wizard-step.active .progress-wizard-dot {
    background: @color-secondary;
    box-shadow: 0 0 0 0.1875rem white, 0 0 0 0.25rem @color-secondary;
}

/* Ecommerce categories */
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: @color-secondary;
}

.form-control:focus {
    border-color: @color-secondary;
    box-shadow: 0 0 0 0.5px @color-secondary;
}

/* Enable ribbon on list view */
.oe_product {
    .ribbon-wrapper.ribbon-wrapper-list {
        width: 70px;
        right: 0;
        left: 45px;
        &.oe_ribbon_promo {
             display: block;
        }
    }

    .ribbon.ribbon-list {
        font: bold 12px Sans-Serif;
        padding: 0;
        left: -9px;
        top: 9px;
    }
}