/* portal filter styles */
#o_portal_navbar_content {
    .btn-group.show {
        div[aria-labelledby="portal_searchbar_filters"].dropdown-menu.show{
            overflow-y: scroll;
            max-height: 25rem;
            left: -30.45rem;
        }
    }
}